div.grid {
  position: relative;
  padding: 0px;
  left: -6px;
  height: auto;
  min-height: 500px;
  overflow: auto;
  background-color: #E7F2F8;
  margin: 6px;
  border-radius: 3px;
}

.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.tabs_cont {
  background: #fff;
  position: relative;
  height: auto;
  min-height: 230px;
}

.tabs_cont > div {
  position: static;
  left: 0;
  opacity: 1;
  width: 100%;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#radio_dg {
  display: none;
}

#radio_sg {
  display: none;
}

#radio_dg:checked ~ .tabs_cont #tab_c2,
#radio_sg:checked ~ .tabs_cont #tab_c1 {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

#radio_dg:checked ~ .tabs_cont #tab_c1,
#radio_sg:checked ~ .tabs_cont #tab_c2 {
  position: static;
  left: 0;
  opacity: 1;
}

#radio_dg:checked ~ #label_dg,
#radio_sg:checked ~ #label_sg {
  font-weight: bolder;
}

.radio_label {
  color: #4C8FBD;
}

.radio_label:hover {
  text-decoration: underline;
}
